body{
    background-color: #9b9b9b;
}
main{
    height: 500px;
}
.bg-black{
    background-color: #000000;
    height: 50px;
}
h1{
    text-align: left;
    color: #fff;
}
h2{
    background-color: #4A4A4A;
    color: #fff;
}
#search-field {
    margin-bottom: 40px;
}
div{
    background-color: #d8d8d8;
    padding: 21px;
    margin-bottom: 40px;
}
#title {
    margin-left: 20px;
}
#submit-btn {
    background-color: #000;
    color: #fff;
    height: 54px;
    width: 211px;
    border: none;
}